@charset "UTF-8";
.tips .tips_ico{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:365px 490px}
.tips{background-color:#FFF;border-bottom:1px solid #C4BFBA;height:auto;overflow:hidden;padding:10px 20px;position:relative;text-align:center}
.tips_ico{display:inline-block;height:50px;margin-right:5px;width:50px}
.tips_tit{color:#333;display:inline-block;font-size:16px;line-height:25px;vertical-align:23px}
.tips_txt{font-size:12px;line-height:21px;text-align:center}
.tips_extra{font-size:12px}
.tips_extra b{color:#333;font-weight:700}
.tips_opt{padding:5px 10px 0;text-align:center}
.tips_opt a{border:1px solid #D6800B;border-radius:30px;color:#6D6D6D;display:block;height:28px;line-height:28px;margin-bottom:10px;text-align:center}
.tips_opt a:after{background-position:-303px -102px;content:"";display:inline-block;height:12px;margin-left:8px;vertical-align:-2px;width:6px}
.tips_opt a:last-child{margin-bottom:0}
.tips_bar{background-color:#CBCBB2;display:inline-block;height:13px;margin:0 10px;vertical-align:-2px;width:1px}
.tips_btn2{background-color:#FE980E;border-color:#FE980E!important;color:#FFF!important}
.tips_btn2 .tips_bar{background-color:#FFF}
.tips_btn2:after{background-position:-303px -85px!important}
.tips_succ{background-color:#E6EFDF;border-bottom:1px solid #B0C99F}
.tips_succ .tips_ico{background-position:-37px -59px;height:25px;width:25px}
.tips_succ .tips_tit{color:#759E53;vertical-align:6px}
.tips_succ2 .tips_txt{text-align:center}
.tips_err{background-color:#F6E0DE;border-bottom:1px solid #D48B82}
.tips_err .tips_ico{background-position:0 -59px;height:25px;width:25px}
.tips_err .tips_tit{color:#D72A16;vertical-align:6px}
.tips_notice{background-color:#FFFFE4;border-bottom:1px solid #C1C14F}
.tips_notice .tips_ico{background-position:-74px -59px;height:25px;width:25px}
.tips_notice .tips_tit{color:#FF9910;vertical-align:6px}
.tips_notice2 .tips_ico{background-position:-55px -326px;display:none;height:50px;margin:0 auto;width:50px}
.tips_notice2 .tips_tit{color:#FF9910;font-size:14px;vertical-align:0}
.tips_notice2 .tips_txt{font-size:14px}
.tm{background-color:#FFF;border-bottom:1px solid #D0D0D0;margin-bottom:10px;padding:10px;position:relative;overflow: hidden;}
.tm:before{content:"";display:none;height:90px;position:absolute;right:15px;top:10px;width:90px;z-index:11}
.pp{font-size:12px;padding:0 10px}
.pp_users{overflow:hidden;padding:10px 0;text-align:center}
.pp_users_item{display:inline-block;height:49px;margin-right:10px;overflow:hidden;width:49px}
.pp_users_item:last-child{margin-right:0}
.pp_users_item img{background-clip:padding-box;border-radius:49px;-webkit-border-radius:49px;box-shadow:0 0 0 2px #fff;display:block;height:45px;overflow:hidden;width:45px}
.pp_users_normal:nth-child(1){position:relative}
.pp_users_normal:nth-child(1):after{background-clip:padding-box;background-color:#DF2127;border:2px solid #FFF;border-radius:21px;color:#FFF;content:"团长";font-size:8px;height:17px;line-height:17px;position:absolute;right:0;text-align:center;top:0;width:17px}
.pp_users_normal:nth-child(2){position:relative}
.pp_users_normal:nth-child(2):before{background-clip:padding-box;background-color:#FF9910;border:2px solid #FFF;border-radius:21px;color:#FFF;content:"沙发";font-size:8px;height:17px;line-height:17px;position:absolute;right:0;text-align:center;top:0;width:17px}
.pp_users_dot{background-position:-324px -80px;display:inline-block}
.pp_users2{margin:0 -10px}
.pp_users2 .pp_users_item{height:34px;margin-right:2px;width:34px}
.pp_users2 .pp_users_item img{border-radius:34px;height:30px;width:30px}
.pp_tips{font-size:14px;padding:10px 0;text-align:center}
.pp_tips b{color:#DF2127;font-size:18px;margin:0 5px}
.pp_vtips{text-align:center}
.pp_state{height:24px;position:relative;text-align:center}
.pp_state:after{background-color:#D0D0D0;bottom:11px;content:"";display:block;height:1px;left:0;overflow:hidden;position:absolute;width:100%}
.pp_state_txt{background-color:#F2F2F4;display:inline-block;height:24px;line-height:24px;padding:0 5px;position:relative;z-index:1}
.pp_time{background-color:#F2F2F4;display:inline-block;height:24px;line-height:24px;padding:0 10px;position:relative;z-index:1}
.pp_time span{background-color:#404040;border-radius:2px;color:#FFF !important;display:inline-block;height:20px;line-height:20px;margin:0 2px;text-align:center;width:20px}
.pp_list{overflow:hidden;padding-top:15px;position:relative}
.pp_list:before{background-color:#DCDCDD;bottom:20px;content:"";display:block;height:auto;left:25px;position:absolute;top:15px;width:1px}
.pp_list_item{background-color:#FFF;border:1px solid #D5D5D5;margin-bottom:20px;padding:10px 15px 10px 50px;position:relative}
.pp_list_avatar{background-clip:padding-box;border-radius:30px;display:block;height:30px;left:10px;position:absolute;top:8px;width:30px; vertical-align:middle;}
.pp_list_info{height:30px; line-height:30px;}
.pp_list_name{float:left}
.pp_list_name b{color:#333;font-weight:400;margin-right:5px}
.pp_list_time{color:#999;float:right}
.pp_list_words{line-height:18px;padding-left:15px;position:relative}
.pp_list_words:before{background-position:-222px -92px;content:"";display:block;height:7px;left:0;position:absolute;top:3px;width:8px}
.pp_list_blank{color:#C6C7BE;height:34px;line-height:34px;margin-bottom:20px;padding-left:50px;position:relative}
.pp_list_blank:before{background-position:-324px -41px;content:"";display:block;height:34px;left:8px;position:absolute;top:0;width:34px}
.pp_list_more{background-color:#FFF;border:1px solid #D5D5D5;margin-bottom:20px;padding:10px 15px;position:relative;text-align:center}
.pp_list_more:after{background-position:-303px -102px;content:"";display:inline-block;height:12px;margin-left:10px;transform:rotate(90deg);vertical-align:-2px;width:6px}
.pp_list_more_unfold:after{transform:rotate(-90deg)}
.pp_list_item:nth-child(1){background-color:#4B4B4B;border-color:#4B4B4B;color:#FFF}
.pp_list_item:nth-child(1):before{border-color:transparent transparent #4B4B4B;border-style:dashed dashed solid;border-width:8px;content:"";display:inline-block;font-size:0;height:0;left:50%;margin-left:-8px;overflow:hidden;position:absolute;top:-16px;width:0}
.pp_list_item:nth-child(1) .pp_list_avatar{top:10px}
.pp_list_item:nth-child(1) .pp_list_name b{color:#FFF}
.pp_list_item:nth-child(1) .pp_list_time{color:#DADADA}
.pp_list_item:nth-child(1) .pp_list_time span{color:#DADADA}
.pp_list_item:nth-child(1) .pp_list_words:before{background-position:-222px -80px}
.pp_list_item:nth-child(2){background-color:#FFFFF3;border-color:#C5C552}
.pp_list_item:nth-child(2):after{background-position:-324px 0;bottom:-4px;content:"";display:block;height:36px;position:absolute;right:-4px;width:36px}
.pp_list_item:nth-child(1) .pp_list_words:before,.pp_list_item:nth-child(2):after{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:365px 490px}
.td{min-height:90px;padding-bottom:10px;padding-left:100px;position:relative}
.td_img{left:0;overflow:hidden;position:absolute;top:0;width:90px}
.td_img img{display:block;height:90px;overflow:hidden;width:90px}
.td_info{font-size:12px}
.td_name{color:#333;font-size:14px;line-height:18px;margin-bottom:5px;max-height:36px;overflow:hidden}
.td_shop{color:#666;font-size:12px;margin-bottom:3px}
.td_mprice{margin-bottom:5px}
.td_mprice i{color:#DF2127;font-size:9px}
.td_mprice b{color:#DF2127;font-size:18px;font-weight:400;line-height:18px}
.td_oprice{margin-bottom:5px}
.td_num{bottom:10px;color:#B7B7B7;position:absolute;right:0}
.td_lk{color:#171717;display:block;margin-top:5px}
.td_lk:after{background-position:-303px -102px;content:"";display:inline-block;height:12px;margin-left:5px;vertical-align:-2px;width:6px}
.pp_list_more:after,.step_more:after,.pp_list_blank:before,.support_lk:after,.yy_hd,.say_state:before,.tm:before,.td_lk:after,.pp_users_dot,.tips_opt a:after,.pp_vipuser_tit,.mt_shop:before,.vip .pp_users_sale span,.support_tit:before,.fixopt_home:after,.fixopt_share:after{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:365px 490px}
.tm_succ:before{background-position:0 -112px;display:block}
.tm_err:before{background-position:-95px -112px;display:block}
.fixopt{background-color:rgba(0,0,0,.6);bottom:0;display:none;left:0;padding:15px 0;position:fixed;width:100%;z-index:901;height:72px}
.fixopt_btn{background-color:#FA5343;border-radius:3px;color:#FFF;display:block;height:42px;line-height:42px;margin:0 10px;text-align:center}
.fixopt_btn2{background-color:#83CF90;border-radius:3px;color:#FFF;display:block;height:42px;line-height:42px;margin:0 10px;text-align:center}
a.fixopt_home{background-color:#777;border-radius:3px;display:block;height:42px;left:10px;position:absolute;top:0;width:42px}
.fixopt_home:after{background-position:-305px -277px;content:"";display:block;height:24px;left:9px;position:absolute;top:9px;width:24px}
a.fixopt_share{background-color:#777;border-radius:3px;display:block;height:42px;left:62px;position:absolute;top:0;width:42px}
.fixopt_share:after{background-position:-334px -277px;content:"";display:block;height:24px;left:9px;position:absolute;top:9px;width:24px}
.fixopt_item{min-height:32px;position:relative}
.fixopt_item a{color:#fff}
.fixopt_item1{padding-left:105px}
.fixopt_item2{padding-left:52px}
.fixopt_home:after,.fixopt_share:after{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:365px 490px}
.fixopt_home:after{background-position:-305px -277px;content:"";display:block;height:24px;left:9px;position:absolute;top:9px;width:24px}
.explain_tuan{position:fixed;top:250px; left:60px;width:50px;height:50px; display:inline-block;z-index:10;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-animation:slip_out 1s ease-in .5s forwards;animation:slip_out 1s ease-in .5s forwards;background:url(../images/tuan_tip.png) no-repeat;background-size:contain;}
#share_tuan img { max-width:100%; }
.share_box { margin:20px auto; text-align:center; }
.share_box a { margin:0 5px; padding:10px 20px; border-radius:5px; color:#fff; font-size:12px; }
.share_box .share_link { background:#FA5343; }
.share_box .share_pic { background:#00923a; }
.share_box p { line-height:24px; padding:30px 10px 0 10px; text-align:center; font-size:14px; color:#DF2127; }

.spec { width:100%; float:left;  margin:0 auto; }

.spec li { height:auto; overflow:hidden;}

.spec li label { float:left; line-height:40px; }

.spec li a{border:#adadad 1px solid; background:#fff; text-align:center; display: block; white-space:nowrap; float:left; padding:0 10px; color:#000; line-height:22px; margin:5px 10px 0 0; position:relative;}

.spec li a:hover { padding:0 9px; line-height:20px; border:#ea5504 2px solid; }

.spec li .cattsel { padding:0 9px; line-height:20px; border:#ea5504 2px solid; background:#fff url(../images/cattsel.png) no-repeat right bottom; }

.spec li a:focus {outline-style:none;}
.spec li  .label_new{ width:100%;}